<div class="container main-container">

    <h1>Resultado de búsqueda:</h1>
    <h2>{{ termino }}</h2>
    <br>
    <hr>

    <div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
                No existen resultados con el término: {{ termino }}
        </div>
      </div>      
    </div>

    <div class="card-columns">

      <app-heroe-tarjeta [heroe]="foo" [index]="foo.idx" *ngFor="let foo of heroes"> </app-heroe-tarjeta>

    
    </div>

</div>

